.gradi {
    height: 250px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(blue, rgb(191, 78, 243));
  }
  .icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    background-color: white;
  }