.content {
    padding: 80px 0;
    width: 70%;
}

.content h1 {
    background-color: #e91e63;
    border-radius: 100%;
    display: flex;
    height: 1.5rem;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    width: 1.5rem;
}

.arrow-down {
    border-right: 7px solid #fff;
    border-top: 7px solid #fff;
    height: 1rem;
    position: relative;
    top: 10px;
    transform: rotate(135deg);
    width: 1rem;
}

.arrow-down::after {
    border-right: 7px solid #fff;
    border-top: 7px solid #fff;
    content: '';
    display: block;
    height: 1rem;
    position: relative;
    top: 8px;
    left: -15px;
    /*   transform: rotate(135deg); */
    width: 1rem;
}