.swiper-button-prev {
    color: black;
}

.swiper-button-next {

    color: black;

}

.swiper-button-next::after {

    content: "\2192" !important;
}

.swiper-button-prev::after {
    content: "\2190" !important;
}